

.navbarBrandImg {
  border-radius: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbarLinkContainer {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.navbarLink {
  color: #fff;
  font-weight: bold;

}

.navbarLink:hover {
  color: #9a978e;
}


